name: Build and Publish Flatpak

on:
    workflow_run:
        types:
            - completed
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Check for recent commits
              id: check_commits
              run: |
                  last_commit_time=$(git log -1 --format=%ct)
                  current_time=$(date +%s)
                  diff=$((current_time - last_commit_time))
                  echo "Time since last commit: $diff seconds"
                  if [ $diff -le 300 ]; then
                    echo "recent_commit=true" >> $GITHUB_OUTPUT
                  else
                    echo "recent_commit=false" >> $GITHUB_OUTPUT
                  fi

            - name: Install Flatpak tools
              if: steps.check_commits.outputs.recent_commit == 'true'
              run: |
                  sudo apt update
                  sudo apt install -y flatpak flatpak-builder

            - name: Install Freedesktop SDK
              if: steps.check_commits.outputs.recent_commit == 'true'
              run: |
                  sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
                  sudo flatpak install -y flathub org.freedesktop.Sdk//25.08 org.freedesktop.Platform//25.08

            - name: Build Flatpak
              if: steps.check_commits.outputs.recent_commit == 'true'
              run: |
                  flatpak-builder --repo=repo build-dir com.sublimehq.SublimeText.yaml

            - name: Upload repo to gh-pages
              if: steps.check_commits.outputs.recent_commit == 'true'
              uses: peaceiris/actions-gh-pages@v4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_branch: gh-pages
                  publish_dir: repo
